!!! 5
%html
  %head
    %title Lounasaika.net
    %meta{:charset => "utf-8"}
    = javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"
    = javascript_include_tag  "jquery.cookie"
    :coffeescript
      $(document).ready ->
        String::capitalize = ->
          return this.substr(0, 1).toUpperCase() + this.substr(1)

        if window.location.pathname.substring(0, 4) == '/en/'
          rootPath = '/en/'
          campus = window.location.pathname.split('/')[2].capitalize()
        else
          rootPath = '/'
          campus = window.location.pathname.split('/')[1].capitalize()

        $.cookie 'campus', campus
        window.location.replace(rootPath)