!!! 5
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title lounasaika.net API
    :css
      body {width: 700px; font-family: monospace; padding: 5px 20px 30px 20px;}
      h1,h2 {font-size: 1.0em; margin-top: 40px;}
      p {text-align: justify}
      .prettyprint {overflow: scroll; height: 500px}
    = stylesheet_link_tag "normalize", "prettify"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"
    = javascript_include_tag "prettify.min"

  %body{:onload => "prettyPrint()"}
    %p{:style => "text-align: right;"}
      %strong Lounasaika.net API V1 BETA
      %br/
      (updated 2012-12-05)
      %p
        %h1 Audience
        %p This document is intended for website and mobile developers who want to use student restaurant menu data provided by Lounasaika.net API. It provides an introduction to using this API. Any feedback will be greatly appreciated.
        %p
          Please note that you are strongly encouraged to register your app by sending an email to api@lounasaika.net.
        %h1 Availability
        %p
          The service is hosted by
          %a{:href => "http://pages.github.com/"} Github Pages
          which ensures excellent availability.
        %h1 Requests
        %p
          Lounasaika.net API supports one request which provides all restaurant menus for current week:
        %p
          %em http://www.lounasaika.net/api/v1/menus.json
        %p The JSON returned by this request is shown below. Note that actual JSON may contain less whitespace. You should not make assumptions about the amount or format of whitespace between requests.
        %p The example contains two restaurants, Teekkariravintolat and TUAS-talo, which are both located on the same campus, Otaniemi. Opening times are fixed form and nicely parsable. URL's for available languages are listed under 'url' element. Under 'meals' element you can find menus in all available languages (currently Finnish and English).
        %pre.prettyprint
          :preserve
            [
              {
                "name": "Teekkariravintolat",
                "address": "Otakaari 24, Espoo",
                "campus": "Otaniemi",
                "open": "Mon-Thu 10:30-16:00, Fri 10:30-15:00, Sat 11:30-15:00",
                "url": {
                  "fi": "http://www.sodexo.fi/dipoli"
                },
                "location": {
                  "lat": 60.1847778,
                  "lng": 24.8309887
                },
                "meals": {
                  "fi": [
                    [
                      "Maanantain broileripuikot",
                      "Maanantain mozzarellasalaatti"
                    ],
                    [
                      "Tiistain leike",
                      "Tiistain keitto"
                    ],
                    [
                      "Keskiviikon spaghetti"
                    ],
                    [
                      "Torstailohi"
                    ],
                    [
                      "Perjantain curry"
                    ],
                    [
                      "Lauantainakit"
                    ]
                  ],
                  "en": [
                    [
                      "Monday chicken sticks",
                      "Monday mozzarella salad"
                    ],
                    [
                      "Tuesday schnitzel",
                      "Tuesday soup"
                    ],
                    [
                      "Spaghetti à la Wednesday"
                    ],
                    [
                      "Thursday salmon"
                    ],
                    [
                      "Curry of Friday"
                    ],
                    [
                      "Saturday sausages"
                    ]
                  ]
                }
              },
              {
                "name": "TUAS-talo",
                "address": "Otaniementie 17, Espoo",
                "campus": "Otaniemi",
                "open": "Mon-Thu 10:30-16:00, Fri 10:30-14:00",
                "url": {
                  "fi": "http://www.amica.fi/TUAS",
                  "en": "http://www.amica.fi/en/TUAS"
                },
                "location": {
                  "lat": 60.1868196,
                  "lng": 24.8187598
                },
                "meals": {
                  "fi": [],
                  "en": []
                }
              }
            ]

        %p
          Note that these results generally need to be parsed if you wish to extract values from the results. Parsing JSON is relatively easy. See
          %a{:href => "http://code.google.com/apis/maps/documentation/webservices/index.html#ParsingJSON"} Parsing JSON
          for some recommended design patterns.